<h1>Process Monitor</h1>

<% if notice %>
<p><%= notice %></p>
<% end %>


<%= form_tag do %>
<fieldset>
	<div>
		<%= label_tag :filter_label, 'Filter by:' %>
		<%= text_field_tag :filter, params[:filter] %>
		<%= submit_tag "Search" %>
	</div>
</fieldset>
<% end %>

<table class="table table-striped pretty">
	<thead>
		<tr>
			<th><%= sortable "pid", "Process ID" %></th>
			<th><%= sortable "gid", "Process Group ID" %></th>
			<th><%= sortable "comm", "Process Name" %></th>
			<th><%= sortable "user", "Process Owner" %></th>
			<th><%= sortable "pcpu", "CPU Usage" %></th>
			<th><%= sortable "pmem", "Memory Usage" %></th>
			<th>Action</th>
		</tr>
	</thead>

	<tbody>

	<% @processes.each do |process| %>
	<tr>
		<td><%= process[:pid] %></td>
		<td><%= process[:gid] %></td>
		<td><%= process[:name] %></td>
		<td><%= process[:user] %></td>
		<td><%= process[:cpu] %></td>
		<td><%= process[:mem] %></td>
		<td>
			<!--button><a href="#" data-toggle="modal" data-target="#myModal<%= process[:pid] %>">Details</a></button-->
			<button style="display: inline;" data-toggle="modal" data-target="#myModal<%= process[:pid] %>">Details</button>
			<%= button_to 'Kill', dashboard_kill_path(pid: process[:pid]), data: { confirm: 'Are you sure?' },
				form: {style: 'display:inline-block;'} %>
		</td>
	</tr>

	<!-- Modal -->
		<div id="myModal<%= process[:pid] %>" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Process Details</h4>
		      </div>
		      <div class="modal-body">
		        <p>Process ID: <%= process[:pid] %></p>
		        <p>Process name: <%= process[:name] %></p>
		        <p>Process full path: <%= process[:fullname] %></p>
		        <p>Start time: <%= process[:start] %></p>
		        <p>Elapsed time since process start: <%= process[:etime] %></p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>
	<!-- End Modal -->
	
	<% end %>

	</tbody>
</table>