<h1>Process Monitor</h1>

<% if notice %>
<p><%= notice %></p>
<% end %>

<table class="table table-striped pretty">
	<thead>
		<tr>
			<th><%= sortable "pid", "Process ID" %></th>
			<th><%= sortable "gid", "Process Group ID" %></th>
			<th><%= sortable "comm", "Process Name" %></th>
			<th><%= sortable "user", "Process Owner" %></th>
			<th><%= sortable "pcpu", "CPU Usage" %></th>
			<th><%= sortable "pmem", "Memory Usage" %></th>
			<th>Action</th>
		</tr>
	</thead>

	<tbody>

	<% @processes.each do |process| %>
	<tr>
		<td><%= process[:pid] %></td>
		<td><%= process[:gid] %></td>
		<td><%= process[:name] %></td>
		<td><%= process[:user] %></td>
		<td><%= process[:cpu] %></td>
		<td><%= process[:mem] %></td>
		<td>
			<%= link_to 'Show Details' %> | 
			<%= link_to 'Kill', dashboard_kill_path(pid: process[:pid]) %>
		</td>
	</tr>
	
	<% end %>

	</tbody>
</table>