<h1>Reports</h1>


<% if notice %>
<p><%= notice %></p>
<% end %>

<div class="row">
  <div class="col-sm-3">Report Date</div>
  <div class="col-sm-3">Created By</div>
  <div class="col-sm-3">Description</div>
  <div class="col-sm-3">Action</div>
</div>
    
<% @reports.each do |report| %>

<div class="row">
  	<div class="col-sm-3"><%= report.report_date %></div>
  	<div class="col-sm-3"><%= report.report_user %></div>
    <div class="col-sm-3"><%= report.description %></div>
    <div class="col-sm-3">
        <%= link_to 'View Details', report_details_show_path(report_id: report) %>
        <%= link_to 'Delete Report', reports_destroy_path(report_id: report), data: { confirm: 'Are you sure?' } %>
        <%= link_to 'CSV', reports_download_path(format: "csv", report_id: report) %>
    </div>
</div>
<% end %>

<%= link_to 'Generate New Report', reports_create_path %>
